@import "components/header";
// @import "components/carousel";
// @import "components/page";

body {
    letter-spacing: 0.1rem;
}

// headings
h1, h2, h3, h4 {
    text-transform: uppercase;
}

h1 {
    font-size: $h2-font-size;
    letter-spacing: 0.3rem;
}

h3 {
    font-size: $h5-font-size;
    letter-spacing: 0.2rem;
}

.entry-title {
    margin-bottom: $s_m;
}
