// Navbar shrinking
.navbar-brand {
    padding-top: 0;
}

.navbar {
    padding: 1rem;
    background-color: $c_navbar_bg;
    border-bottom: 1px solid $c_navbar_border;

    @include media-breakpoint-up(lg) {
        .menu-item {
            font-size: $font-size-base * 0.8;
            letter-spacing: 0.1rem;
        }
    }

    // Shrink the header
	@include media-breakpoint-up(sm) {
        &.shrink {
    		top: 0!important;
    		height:50px!important;
    		padding: 0.5rem 1rem!important;
    		background-color: rgba(250, 250, 250, 1)!important;
    		transition: all 0.25s ease-in-out;

    		.mob-standard-logo {
    		  height: 25px !important;
    		  transition: all 0.25s ease-in-out;
    		}
        }
	}
}

// The Top Full widget content
#wrapper-static-hero {
    background-color: transparent;
    margin-top: $s_xl * 1.5;
}
.h1-top-full {
    font-size: $h3-font-size;
    letter-spacing: 0.1rem;
    text-align: center;

    div {
        display: inline-block;
        margin: 0 1.5rem;
        padding: 1rem;
        background-color: $primary;
        color: $white;

        @include media-breakpoint-down(lg) {
            margin-bottom: 1rem;
        }
    }
}

// TODO: transfer to own template
.content-area {
    margin: auto;
    margin-top: $s_m;
    padding: $s_m $s_xl;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 0.3rem;
}

body:not(.home) .content-area {
    margin-top: $s_xl * 2;
}

// TODO: sticky footer in own style file
html {
  position: relative;
  min-height: 100%;
  margin-top: 0 !important;
}

body {
  margin-bottom: $fixed_footer_height;
}

#wrapper-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $fixed_footer_height;
  padding: 1.5rem;
  // line-height: $fixed_footer_height;
  background-color: $white;
}

// TODO: Vendor files
// Contact 7
.wpcf7 {
    margin: 0!important;
}

.btn-outline-primary, .wpcf7 input[type=submit] {
    background-color: $white;
}

// TODO: own footer file

/*
** Footer widget (call to action)
*/
#footer-full-content {
    padding: $s_sm 0;
}

#menu-footer-menu {
    text-align: right;
    margin-bottom: 0;

    li {
        display: inline-block;
        margin-left: 1rem;
        letter-spacing: 0;

        @include media-breakpoint-down(lg) {
            margin-left: 0.6rem;
            font-size: $font-size-base * 0.9;
        }
    }
}

#wrapper-footer {
    // background-color: $black;

    .site-info {
        color: $black;

        @include media-breakpoint-down(lg) {
            font-size: $font-size-base * 0.9;
        }
    }
}
